.button-hero {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-btn-color);
  background-color: var(--background-btn-color);
  min-width: 200px;
  border-radius: 4px;
  border: 0;
  padding: 10px 32px;
  margin: 0;
  &:hover,
  &:focus {
    cursor: pointer;
  }
}
