.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-text-color);
  display: block;
}

.logo__header {
  color: var(--logo-text-color-first);
  margin-right: 93px;
}

.logo__footer {
  color: var(--logo-text-color-second);
}
